header {
    background-color: #1e90ff;
    color: var(--font-color);
    padding: 10px 0;
    text-align: center;
  }
  
  nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .app-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-bg-color); 
  }
  
  .app-logo {
    height: 120px;
    margin-right: 10px; 
    transform: scaleX(-1);
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
  }
  
  .app-title h1 {
    margin: 0;
    font-size: 1.5rem; /* Adjust this value for the title size */
  }
  
  .app-title p {
    margin: 0;
    font-size: 1rem; /* Adjust this value for the slogan size */
    color: #555; /* Optional: change the color of the slogan */
  }



.user-section {
  display: flex;
  align-items: center;
  position: relative;
}

.user-icon {
  font-size: 24px;
  margin-right: 10px;
}

.user-name {
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content button {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.user-info:hover .dropdown-content {
  display: block;
}